

<h4>My games</h4>

<h6>Games you created:</h6>

<ol>
<% @games.each do |g| %>
    <li> <%= link_to g.title, game_path(g) %> </li>
<% end %>
</ol>

<h6>Games you made suggestions to:</h6>
<%= render 'games/suggested_games' %>

<h6>Genres of your games:</h6>

<ol>
<% @genres.each do |g| %>
    <li> <%= g.name %> </li>
<% end %>
</ol>


