<h1>All Suggestions for <%= link_to @game.title, game_path(@game) %>:</h1>
<ol>
    <%= render :collection => @game.suggestions.newest_to_oldest, :partial => 'suggestions/suggestion_li', :as => 'suggestion' %>
    
    <%# The above render method call does the following: %>
    <%# @game.suggestions.each do |suggestion| %>
        <%#= render partial: 'suggestions/suggestion_li', locals: {suggestion: suggestion} %>
    <%# end %>
</ol>

<h3><%= link_to 'Make suggestion', new_game_suggestion_path %></h3>
<h3><%= link_to 'All games', games_path %></h3>